@using MVC_TEST.Models
@model IEnumerable<Student>
@{
    ViewBag.Title = "CalcScoresPure";

    ((List<Student>)Model).ForEach(x => x.Total = x.Chinese + x.Math + x.English);

    int topScore = Model.Max(s => s.Chinese + s.Math + s.English);

    @helper DisplayScore(int score)
    {
        if (score < 60)
        {
            <td class="poor">@score</td>
        }
        else if (score >= 95)
        {
            <td class="excellent">@score</td>
        }
        else
        {
            <td>@score</td>
        }
    }
}
<style>
    th {
        color: #fff;
        background-color: #000;
        text-align: center;
    }

    .poor {
        color: #fff;
        background: #c81c1c;
    }

    .excellent {
        color: #fff;
        background-color: #1a3de8;
    }

    .top1 {
        background-color: #e4a219;
        border: 2px solid #000;
        font-weight: bold;
        font-size: 1.2em;
    }

        .top1::after {
            content: " 總分排名第一!";
        }
</style>
<h2>CalcScoresPure</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Chinese)</th>
            <th>@Html.DisplayNameFor(model => model.Math)</th>
            <th>@Html.DisplayNameFor(model => model.English)</th>
            <th>@Html.DisplayNameFor(model => model.Total)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>

            @DisplayScore(item.Chinese);
            @DisplayScore(item.Math);
            @DisplayScore(item.English);

            @if (item.Total == topScore)
            {
                <td class="top1">@Html.DisplayFor(modelItem => item.Total)</td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.Total)</td>
            }

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
